/*Containers*/
body{
	background-image: url('../images/noise.jpg');
	text-align: center;
	color:	#2d2d2d;
	font: 1em "Helvetica", Verdana, Arial, sans-serif;
}
div#container{
	margin: 60px auto;
	width: 850px;
	background: white;
	text-align: left;
	border: solid 3px #CACACA;
	padding: 10px;
}