/*Text Elements*/
h1{
	background: #BBEDFF;
	border-bottom: 1px solid #6CF;
	color: #FFFFFF;
	padding: 20px;
	margin: -10px;
	margin-bottom: 30px;
	letter-spacing: -0.1em;
}
p.form_actions{
	text-align: right;
	margin-top: 50px;
}
p.error-flash{
	background: #FFD4D7;
	border: 1px solid #FF6462;
	color: #8E271D;
	padding: 5px;
}

p.notice-flash{
	background: #FFF9CA;
	border: 1px solid #FFCE00;
	color: #178F1A;
	padding: 5px;
}
p.notice-help{
	background: #FFF9CA;
	border: 1px solid #FFCE00;
	color: #1B3D6D;
	padding: 5px;
}

/*Form Elements*/
fieldset{
	border: 1px solid #999;
	width: 50%;
	background: #D6D6D6;
}
legend{
	font: normal small-caps normal 0.85em Arial, sans-serif;
	background: #ededed;
	border: 1px solid #999;
}

label{
	font: normal small-caps normal 0.75em Arial, sans-serif;
}

form{
	border: solid 1px #999;
	background: #EDEDED;
	padding: 10px;
}
form.normal{
	border: none;
	background: #fff;
	padding: 0;
}

input[type=button]{
	border: none;
	background: transparent url('../images/button-now.gif');
	width: 120px;
	height: 30px;
	font: 80% Arial;
	margin: 0;
}
input[type=submit].positive{
	background: #80FF00;
	border: none;
	color: white;
	padding: 10px;
	font-size: 100%;
	border-bottom: solid 2px #66C705;
	cursor: pointer;
}

a.negative{
	background: #F00;
	border: none;
	color: white;
	text-decoration: none;
	padding: 13px;
	padding-bottom: 12px;
	font-size: 100%;
	border-bottom: solid 2px #800101;
}

input[type=text]{
	font-size: 100%;
	border: 1px solid #999;
}
input[type=password]{
	font-size: 100%;
	border: 1px solid #999;	
}
input[type=text]:focus{
	background: #C8F2FF;
}
input[type=password]:focus{
	background: #C8F2FF;
}